<div class="feature-header is-inline">
  <h3>Vos vidéos interactives</h3>
  <button routerLink="../editor/new">Créer une nouvelle vidéo</button>
</div>

<table class="feature-body">
  <tr>
    <th>Nom</th>
    <th>Durée</th>
    <th>Nombre d'intéractions</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let video of videos$ | async">
    <td>{{ video.name }}</td>
    <td>{{ video.duration }}</td>
    <td>{{ video.interactions.length }}</td>
    <td>
      <button [routerLink]="['..', 'editor', video.id]" class="ri-pencil-line ri-xl"></button>
      <button (click)="duplicateVideo(video.id)" class="ri-file-copy-line ri-xl"></button>
      <button (click)="deleteVideo(video.id)" class="ri-delete-bin-line ri-xl"></button>
    </td>
  </tr>
</table>
